footer {
  height: var(--footer-height);
  border-top: var(--common-border);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  overflow: hidden;
  &.with-bg {
    background-color: var(--primary-colour);
    color: white;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 350px;
    .flag {
      transition: all 0.3s ease;
    }
    span {
      margin: auto 0;
      font-weight: 600;
      font-size: 0.95rem;
    }
    svg {
      height: 16px;
      width: 22px;

      &:nth-of-type(1) {
        animation: beat 1s infinite;
        transition: all 0.3s ease;
      }
      @keyframes beat {
        0% {
          scale: 1;
        }
        50% {
          scale: 0.8;
        }
        100% {
          scale: 1;
        }
      }
    }
    a {
      font-weight: 600;
      font-size: 0.95rem;
    }
  }
  &:hover {
    background: transparent;
    p {
      span {
        color: black;
      }
      a {
        color: black;
      }
      .heart {
        fill: red;
      }
      .flag {
        rotate: -30deg;
        scale: 80;
        opacity: 0.4;
        z-index: -1;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    &:hover {
      p {
        lin .flag {
          scale: 60;
        }
      }
    }
  }
}
