.about-testimonial {
  height: 100%;
  width: 27.5%;
  background-color: var(--primary-colour);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: var(--common-border);
  color: white;
  padding: 4vh 3%;
  h2 {
    font-size: 1.8rem;
    text-align: right;
    margin-bottom: 2%;
    height: 5%;
  }
  .feedback-section {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .arroup {
      height: 6%;
      display: flex;
      margin-left: auto;
      margin-right: 10%;
      justify-content: right;
      font-size: 2.5rem;
    }
    .arrodown {
      height: 5%;
      margin-right: auto;
      margin-left: 10%;
      font-size: 2rem;
    }
    .slider-wrapper {
      height: 80%;
      .slider-container {
        .feedback {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10%;
          .text-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            p {
              text-align: justify;
              font-size: 14px;
            }
            span {
              margin-left: auto;
              font-size: 12px;
            }
          }
          .img-container {
            align-self: center;
            height: 22vh;
            max-width: 100%;
            width: auto;
            aspect-ratio: 1;
            object-fit: contain;
            background-color: gray;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    & > .arroup,
    .arrodown {
      svg {
        margin: 10px 0;
        transition: all 0.3s ease;
        border-radius: 10px;
        &:hover {
          background-color: white;
          fill: black;
        }
      }
    }
  }
  a {
    height: 5%;
    color: white;
    text-align: center;
    background-color: var(--secondary-colour);
    border: 0 solid black;
    padding: 0.8rem 0;
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 900px) {
    width: 100%;
    height: 50%;
    padding: 20px 3%;
    justify-content: space-evenly;
    & > h2 {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    & > a {
      height: 10%;
      width: 50%;
      padding: 0;
    }
    .feedback-section {
      height: 70%;
      .arroup,
      .arrodown {
        height: 10%;
      }
      .slider-wrapper {
        height: calc(80% - 20px);
        // margin: 10px 0;
        .slider-container {
          .feedback {
            height: 70%;
            flex-direction: row;
            gap: 20px;
            .text-container {
              font-size: 0.7rem;
              width: 60%;
              p {
                text-align: justify;
                font-size: 14px;
              }
              span {
                font-size: 12.5px;
              }
            }
            .img-container {
              height: 100%;
              width: 40%;
              aspect-ratio: 1;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .feedback-section {
      .slider-wrapper {
        .slider-container {
          .feedback {
            .text-container {
              font-size: 0.7rem;
              width: 65%;
              gap: 15px;
              p {
                text-align: justify;
                font-size: 11.5px;
              }
              span {
                font-size: 11px;
              }
            }
            .img-container {
              height: 100%;
              width: 35%;
              aspect-ratio: 1;
            }
          }
        }
      }
    }
  }
}
